header
{
    width: 100%;
    height: 40px;
    display: block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #EEE;
}

header nav
{
    
    display: flex;
    align-items: center;
    height: 40px;
    float: left;
}

header nav a
{
    border-right: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

main
{
  display: block;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
}

#prefooter
{
  display: block;
  width: 100%;
  margin-bottom: 100px;
}

footer
{
  bottom: 0;
  position: fixed;
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 80px;
  width: 84%;
  padding-left: 8%;
  padding-right: 8%;
  background-color: black;
  color: white;
}

.active
{
  font-weight: bolder;
}

#ulListeEvenements
{
  list-style-type: none;
  padding-left: 0%;
}

.evenement
{
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}